.user {
  width: 800px;
  margin: 0 auto;
  .userList {
    .userItem {
      display: flex;
      line-height: 2;
      border-bottom: 1px solid #cccccc;
      justify-content: space-around;
      .btnBox {
        input[type="button"] {
          width: 100px;
          height: 100%;
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
}